@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fade and glass */

body {
    @apply bg-gray-100 text-gray-800 transition-colors duration-300 ease-in-out;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: #fff;
    --accent-color: #8ae99c;
}

@media (prefers-color-scheme: light) {
     :root {
        --text-color: #111;
        --accent-color: #3d9970;
    }
}